{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="{% url 'home' %}">Student Portal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'signup' %}">Select Sign Up Type</a></li>
    <li class="breadcrumb-item active">Sign Up</li>

{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">

        <div class="card-body">

          <h3 class="card-title text-center">{{ user_type }}Sign Up</h3>

          <form method="post" novalidate>{% csrf_token %}

              {% include 'includes/form.html' with form=form %}

              <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

          </form>

        </div>

        <div class="card-footer text-muted text-center">
            Have an account? <a href="{% url 'login' %}">Log In</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
